@import 'app/assets/styles/const.scss';

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 2;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title {
        color: $white;
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 30px 0;
    }

    .details {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 0 25px 0;
    }

    .span {
        color: $gray2;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .list {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
    }

    .name {
        color: $gray3;
        font-family: Montserrat;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .span {
        color: $gray2;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .links {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .link {
        color: $gray2;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 0 0 10px;
        border-bottom: 1px solid $gray2;
    }

    .point {
        color: $gray2;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
            fill: $yellow;
            width: 35px;
            height: 35px;
        }
    }
}