$first: #54DC8B;
$second: #4a8662;

$gray1: #D9DAE8;
$gray2: #999AA5;
$gray3: #66676E;
$gray4: #39393F;
$gray5: #242529;
$gray6: #191B1F;
$gray7: #15171c;

$white: #F4F4F4;
$yellow: #F9D069;
$error: #AF0C47;

$shadow: 0 4px 12px rgba(0, 0, 0, .4);

@mixin fade-bg-gradient($direction: 90deg) {
    &::before {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: '';

        background: linear-gradient($direction,
                #101215 3.31%,
                rgba(#101215, 0.99) 7.71%,
                rgba(#101215, 0.96) 12.11%,
                rgba(#101215, 0.91) 16.51%,
                rgba(#101215, 0.85) 20.91%,
                rgba(#101215, 0.76) 25.31%,
                rgba(#101215, 0.67) 29.71%,
                rgba(#101215, 0.55) 34.11%,
                rgba(#101215, 0.44) 38.52%,
                rgba(#101215, 0.33) 42.92%,
                rgba(#101215, 0.23) 47.32%,
                rgba(#101215, 0.15) 51.72%,
                rgba(#101215, 0.08) 56.12%,
                rgba(#101215, 0.03) 60.52%,
                rgba(#101215, 0.01) 64.92%,
                rgba(#101215, 0) 69.32%);
    }
}