@import 'app/assets/styles/const.scss';

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0;

    .title {
        color: $gray1;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 60px 0 40px 0;
    }
}