@import 'app/assets/styles/const.scss';

.alert {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 20px 0 20px;
    z-index: 4;
}

.containerSuccess {
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $second;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper svg {
    width: 35px;
    height: 35px;
    fill: $gray6;
    margin: 0 15px 0 0;
}

.wrapClose svg {
    width: 25px;
    height: 25px;
    fill: $gray3;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: $gray6;
    margin: 0;
}

.subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: $gray4;
    margin: 0;
}